
  <!-- Main Header start -->  
  <header class="main-header">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="logo">
          <a href="">
            <img src="img/logo/logo.svg" alt="">
          </a>
        </div>
        <div class="">
          <ul class="menu">
            <li>
              <a href="">Избранные</a>
            </li>
            <li>
              <a href="">Калькуляторы</a>
            </li>
            <li>
              <a href="">На связи</a>
            </li>
            <li>
              <a href="">Как работает ?</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

   
  </header>

  <div class="you-used">
    <h3>История посищений</h3>
    <ul class="history">
      <li>
        <a href="">Калькулятор веса</a>
      </li>
      <li>
        <a href="">Подсчет НДС</a>
      </li>
      <li>
        <a href="">Калькулятор веса</a>
      </li>
      <li>
        <a href="">Подсчет НДС</a>
      </li>
      <li>
        <a href="">Калькулятор веса</a>
      </li>
      <li>
        <a href="">Подсчет НДС</a>
      </li>
    </ul>
  </div>
  <!-- Main Header end -->