
  <!-- Main Footer start -->  
  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <a href="" class="logo">
            <img src="img/logo/logo.svg" alt="">
          </a>
        </div>
        <div class="col-lg-3">
          <h4>Самые популярные</h4>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
        </div>
        <div class="col-lg-2">
          <h4>Новые</h4>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
        </div>
        <div class="col-lg-3">
          <h4>Полезное вам</h4>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
        </div>
      </div>
    </div>
  </footer>
  <!-- Main Footer end -->