
  <!-- Main Header start -->  
  <header class="main-header">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="logo">
          <a href="">
            <img src="img/logo/logo.svg" alt="">
          </a>
        </div>
        <div class="d-flex align-items-center">
          <ul class="menu mob-no">
            <li>
              <a href="">Избранные</a>
            </li>
            <li class="with-droppy-desktop">
              <a href="" class="parent-droppy">Калькуляторы <svg>
                <use xlink:href="/svg/sprite.svg#arr-right"></use>
            </svg></a>
              <div class="droppy-block">
                <ul>
                  <li>
                    <a href="">Налоговые</a>
                  </li>
                  <li>
                    <a href="">Математические</a>
                  </li>
                  <li>
                    <a href="">Автомобильные</a>
                  </li>
                  <li>
                    <a href="">Естественные</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="">На связи</a>
            </li>
            <li>
              <a href="">Как работает ?</a>
            </li>
          </ul>
          <div class="in-block">
            <div class="icon-openner">
              <svg>
                <use xlink:href="/svg/sprite.svg#inacc"></use>
            </svg>
            </div>
            <div class="drop-it">
            <p>Войти с помощью</p>
            <div class="social-in">
              <div class="facebook"><img src="img/icons/fb.svg" alt=""></div>
              <div class="google"><img src="img/icons/google.svg" alt=""></div>
          </div>
        </div>
          </div>
          <div class="search-button mob-no">
            <svg>
              <use xlink:href="/svg/sprite.svg#search"></use>
          </svg>
          </div>
          <div class="langs mob-no">
            <span>ru</span>
            <div class="lang-drop">
              <a href="">ro</a>
              <a href="">en</a>
            </div>
          </div>
          <div class="mob-go">
            <div class="burger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

   
  </header>

  <div class="you-used">
    <h3>История посищений</h3>
    <ul class="history">
      <li>
        <a href="">Калькулятор веса</a>
      </li>
      <li>
        <a href="">Подсчет НДС</a>
      </li>
      <li>
        <a href="">Калькулятор веса</a>
      </li>
      <li>
        <a href="">Подсчет НДС</a>
      </li>
      <li>
        <a href="">Калькулятор веса</a>
      </li>
      <li>
        <a href="">Подсчет НДС</a>
      </li>
    </ul>
  </div>

  <div class="search-popup">
    <div class="plenka"></div>
    <div class="search-form">
      <form action="">
        <input type="text" placeholder="Поиск...">
        <button>
          <svg>
            <use xlink:href="/svg/sprite.svg#search"></use>
        </svg>
        </button>
        <div class="smart-search">
          <div class="loading-search">
            <div class="lds-facebook"><div></div><div></div><div></div></div>
          </div>
          <!-- <div class="search-result">
            <div class="row">
              <div class="col-lg-6">
            <h3>
              <a href="">
                Калькуляторы Налогов
              </a>
            </h3>
            <div class="d-flex flex-wrap">
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
          </div>
            <h3>
              <a href="">
                Калькуляторы Налогов
              </a>
            </h3>
            <div class="d-flex flex-wrap">
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
          </div>
        </div>
        <div class="col-lg-6 search-archive">
          <h3><a href=""> Справочник </a></h3>
          <div class="d-flex flex-wrap">
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
            <h4>
              <a href="">
                Подсчет НДС
              </a>
            </h4>
          </div>
        </div>
      </div>
          </div> -->
        </div>
      </form>
    </div>
  </div>

  <div class="mobile-menu">
    <div class="langs-block">
      <span>
        Мы так же дотупны на:
      </span>
      
      <div class="langs-line">
        <a href="">RO</a>
        <a href="">EN</a>
      </div>
    </div>
    <div class="social-in">
    <div class="log-in">Вход</div>
    <div class="reg-in">Регистрация</div>
    </div>
    <div class="d-flex justify-content-center">
    <div class="search-oppener-mobile button-open" data-open='search-popup'>
      <svg>
            <use xlink:href="/svg/sprite.svg#search"></use>
        </svg>
        <span>Поиск</span>
        
        <svg>
          <use xlink:href="/svg/sprite.svg#search"></use>
      </svg>
      </div>
    </div>
    <ul>
      <li>
        <a href="">Избранные</a>
      </li>
      <li class="with-drop">
        <a href="javascript:;" class="droppy-action">Калькуляторы</a>
        <ul class="droppy">
          <li>
            <a href="">Налоговые </a>
          </li>
          <li>
            <a href="">Автомобильные </a>
          </li>
          <li>
            <a href="">Физические </a>
          </li>
          <li>
            <a href="">Простые </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="">На связи</a>
      </li>
      <li>
        <a href="">Как работает ?</a>
      </li>
    </ul>
  </div>
  <!-- Main Header end -->