
  <!-- Main Footer start -->  
  <div class="container">
    <div class="if-error">
    <div class="our-team">calc.md team</div>
    <span class="hash">#calc.md</span>
    <h4>Если вы обнаружили ошибку, то напишите нам.
        <br>
        Мы стараемся для вас</h4>
    <div class="contact-button-open button-open" data-open='error-popup'>
        Нашел ошибку !
    </div>
</div>
</div>
  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <a href="" class="logo">
            <img src="img/logo/logo.svg" alt="">
          </a>
        </div>
        <div class="col-lg-3">
          <h4>Самые популярные</h4>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
        </div>
        <div class="col-lg-2">
          <h4>Новые</h4>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
        </div>
        <div class="col-lg-3">
          <h4>Полезное вам</h4>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
          <h5>
            <a href="">Подсчет НДС</a>
          </h5>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <p>Copyright 2021</p>
        <a href="" class="created-by">
          project by ejov
        </a>
      </div>
    </div>
  </div>
  <!-- Main Footer end -->


  <div class="popup error-popup">
    <div class="plenka"></div>
    <div class="error-block block-popup">
      <div class="back-image">
        <svg>
          <use xlink:href="/svg/sprite.svg#eye"></use>
      </svg>
      </div>
      <form action="">
        <div class="">
        <p>Email (по желанию)</p>
          <input type="text">
      </div>
        <div class="">
        <p>Опишите ошибку или отравте скриншот проблемы нам на почту</p>
          <textarea name="" id=""></textarea>
      </div>
      <div class="">
        <button class="button-classic">
          Отправить
        </button>
      </div>
      </form>
    </div>
  </div>