body {
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

.main-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    padding: 26px 0;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.grid-item {
    width: 48%;
    padding-bottom: 46px;
}
.row-category-archive {
    padding: 20px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 12px;
    margin: 40px 0;
}
.lish-archive {
    .archive-url {
        font-size: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 20px;
    }
}
.archive-parent-page {
    h1 {
        font-size: 30px;
        font-weight: bold;
        padding-left: 36px;
        position: relative;
        &::before {
            content: '';
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            width: 20px;
            height: 20px;
            background-color: #2ecc71;
            border-radius: 6px;
        }
    }
    h2 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 16px;
        a {
            color: #222;
            font-weight: bold;
           
        }
    }
    .archive-url {
        padding: 6px 10px;
        border-radius: 8px;
        margin-right: 10px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        color: #555;
        transition: 0.4s;
        font-size: 16px;
        &:hover {
            background-color: #2ecc71;
            color: #fff;
            text-decoration: none !important;
        }
    }
}
.archive-page {
    .map {
        border-radius: 12px;
        overflow: hidden;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

    }
    h1 {
        font-size: 30px;
        font-weight: bold;
        padding-left: 36px;
        position: relative;
        &::before {
            content: '';
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            width: 20px;
            height: 20px;
            background-color: #2ecc71;
            border-radius: 6px;
        }
    }

    h2 {
        font-size: 22px;
        color: #555;
        font-weight: 500;
    }

    h3 {
        font-size: 22px;
        color: #555;
        font-weight: 500;
    }
    .text-archive {
        font-size: 18px;
        line-height: 34px;
    }
}

.ttl {
    font-size: 40px;
    margin-top: 40px;
    font-weight: bold;
    padding-left: 40px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        width: 16px;
        border-radius: 4px;
        height: 16px;
        background-color: #3742fa;
    }
}

.h2 {
    font-size: 26px;
}

.logo {
    img {
        height: 40px;
    }
}

.hash {
    padding: 4px 10px;
    border-radius: 8px;
    background-color: #3742fa;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;

    &.green {
        background-color: #2ecc71;
    }
}

.main {
    text-align: center;
    padding: 100px 0;

    h1 {
        font-weight: bold;
        font-size: 60px;
    }

    h2 {
        color: rgb(92, 92, 92);
        font-size: 24px;
    }
}

.calcs {
    .col-lg-6 {
        margin-bottom: 30px;
    }
}

.menu {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;

    a {
        color: #222;
        font-weight: 600;
        font-size: 14px;
        text-decoration: none !important;
        margin: 0 12px;
        transition: 0.3s;

        &:hover {
            color: #3742fa;
        }
    }
}

.icon-background {
    position: absolute;
    right: -100px;
    bottom: -50px;

    svg {
        width: 200px;
        fill: rgba(221, 221, 221, 0.383);
        height: 200px;
    }
}

.calc-category {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 20px;

    h3 {
        margin-bottom: 14px;
        font-weight: bold;
        position: relative;
        padding-left: 30px;

        &::before {
            content: '';
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            width: 10px;
            border-radius: 4px;
            height: 10px;
            background-color: #2ecc71;
        }

        a {
            text-decoration: none !important;
            color: #000 !important;
        }
    }

    h4 {
        font-size: 18px;
        padding: 6px 14px;
        border-radius: 8px;
        margin-right: 14px;
        margin-bottom: 14px;
        font-weight: 500;
        transition: 0.3s;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

        &:hover {
            background-color: #3742fa;

            a {
                color: #fff;

            }
        }

        a {
            transition: 0.3s;
            color: #222;
            text-decoration: none;

        }

    }
}

.hero {
    .item {
        margin-top: 20px;
        margin-right: 20px;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

        a {
            padding: 20px;
            padding-right: 40px;
            display: block;
            color: #000;
            text-decoration: none;
            transition: 0.5s;

            &:hover {
                background-color: #3742fa;
                color: #fff;

                span {
                    color: #eee;
                }
            }

            h2 {
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 0;
                text-transform: uppercase;
            }

            span {
                transition: 0.5s;
                font-size: 14px;
                color: rgb(92, 92, 92);
            }
        }
    }
}

.about {
    padding: 30px 15px;
}

.text {
    font-size: 18px;
    color: #222;
    font-weight: 500;
    margin: 20px 0;
}

.langs {
    margin-left: 14px;
    position: relative;

    &:hover {
        .lang-drop {
            transform: rotateX(0deg) translateX(-50%);
        }
    }

    span {
        color: #000;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        text-transform: uppercase;
    }

    .lang-drop {
        transform: rotateX(90deg) translateX(-50%);
        position: absolute;
        background-color: #fff;
        padding: 6px;
        left: 50%;
        top: 100%;
        transition: 0.4s;
        border-radius: 6px;
        transform-origin: top center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

        a {
            font-weight: 500;
            font-size: 14px;
            display: block;
            color: #000;
            transition: 0.4s;
            text-transform: uppercase;

            &:hover {
                color: #3742fa;
                text-decoration: none !important;
            }
        }
    }
}

.calculator-page .text {
    font-size: 18px;
    color: #555;
    font-weight: 500;

    p {
        margin-bottom: 6px;
    }

    ul {
        list-style: none;

        li {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                right: calc(100% + 10px);
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                width: 14px;
                height: 14px;
                border-radius: 6px;
                background-color: #3742fa;
            }
        }
    }
}

.with-droppy-desktop {
    position: relative;

    .parent-droppy {
        transition: 0.4s;
    }

    &:hover {
        .parent-droppy {
            color: #3742fa;
        }

        svg {
            fill: #3742fa;
            transform: rotate(-90deg);
        }
    }

    svg {
        transition: 0.4s;
        width: 10px;
        height: 10px;
        transform: rotate(90deg);
    }

    &:hover {
        .droppy-block {
            transform: rotateX(0deg) scale(1);
        }
    }

    .droppy-block {
        width: 300px;
        padding: 6px 0;
        transition: 0.4s;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        border-radius: 12px;
        transform-origin: top;
        transform: rotateX(90deg) scale(0);

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            a {
                margin: 0;
                padding: 4px 12px;
                display: block;
            }
        }
    }
}

.you-used {
    display: none;
    position: fixed;
    left: 20px;
    top: 30%;
    transform: translateY(-50%);
    padding: 20px;
    transition: 0.5s;
    border-radius: 0 20px 20px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    &.active {
        border-radius: 20px;

        ul {
            display: none;
        }
    }

    h3 {
        cursor: pointer;
        color: #222;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 0;
    }

    ul {
        padding: 0;
        margin: 14px 0;

        li {
            list-style: none;

            a {
                display: block;
                padding: 2px 0;
                color: #222;
                font-weight: 500;
                transition: 0.3s;

                &:hover {
                    color: #3742fa;
                    text-decoration: none;
                }
            }
        }
    }
}

.breadcrumbs {
    padding: 20px 0;

    svg {
        width: 12px;
        height: 12px;
        fill: rgba(0, 0, 0, 0.418);
    }

    a {
        color: #222;
        font-size: 12px;
        font-weight: 500;
        text-decoration: none !important;
        text-transform: uppercase;

        &.active {
            color: #3742fa;
        }
    }

    span {
        padding: 0 14px;
    }
}

.calculator-page {
    h1 {
        font-size: 46px;
        font-weight: bold;
        max-width: 90%;
    }

    h2 {
        font-size: 18px;
        color: rgba(92, 92, 92, 0.63);
    }

    .text {
        font-size: 16px;
    }
}

.anchor {
    position: absolute;
    top: -200px;
}

.calc-block {
    position: relative;

    form {
        margin: 20px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        padding: 40px;
        border-radius: 12px;
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: -20px;
            left: -40px;
            width: 90px;
            height: 90px;
            opacity: 0.1;
            border-radius: 40px;
            background-color: #3742fa;
        }

        .calc-back {
            position: absolute;
            bottom: -40px;
            right: 0;
            color: #3742fa;
            opacity: 0.1;
            font-size: 70px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .col-lg-4 {
            align-items: flex-start !important;
        }

        button {
            padding: 10px 30px;
            border-radius: 12px;
            background-color: #fff;
            color: #3742fa;
            border: 1px #3742fa solid;
            margin-top: 20px;

            &.active {
                background-color: #3742fa;
                color: #fff;
            }
        }

        .d-flex {
            align-items: center;
        }

        .title-input {
            margin: 6px 0;
            font-size: 16px;
            color: #5c5c5c;
        }

        .input-value {
            position: relative;
            margin-top: 20px;

            .error {
                position: absolute;
                left: calc(100% + 10px);
                padding: 10px 20px;
                border-radius: 12px;
                white-space: nowrap !important;
                background-color: #e74c3c !important;
                color: #fff !important;
            }

            input {
                border: 1px rgb(216, 216, 216) solid;
                width: 100%;
                padding: 6px 10px;
                border-radius: 8px;
                outline: none;
                font-size: 20px;
                transition: 0.3s;

                &:hover {
                    background-color: #f6f6f6;
                }

                &:focus {
                    border-color: #3742fa;
                }
            }
        }
    }
}

.archiv-intrudaction {
    .row {
        margin-bottom: 30px;
    }
}

.more-and-more {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    height: 100%;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    color: #222;

    &:hover {
        text-decoration: none;
        background-color: #2ecc71;
        color: #fff;

        svg {
            stroke: #fff;
        }
    }

    svg {
        width: 70px;
        height: 70px;
        stroke: #222;
        transition: 0.4s;
    }

    span {
        font-weight: 500;
    }
}

.archiv-block {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 20px;
    border-radius: 12px;

    h3 {
        font-size: 24px;
        font-weight: bold;
    }

    h4 {
        font-weight: 400;
        color: #555;
        font-size: 16px;
    }

    .acv-block {
        display: flex;
        flex-wrap: wrap;

        a {
            padding: 4px 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
            display: block;
            border-radius: 8px;
            margin-right: 16px;
            margin-top: 16px;
            color: #222;
            transition: 0.4s;

            &:hover {
                background-color: #2ecc71;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.main-archiv {
    padding: 90px 0;
    text-align: center;

    h2 {
        margin-top: 8px;
        font-weight: 700;
        font-size: 60px;
    }

    h3 {
        color: #5c5c5c;
        font-size: 24px;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-40 {
    font-size: 40px;
}

.f-24 {
    font-size: 24px;
}

.result {
    position: relative;
    padding: 20px;
    border-radius: 12px;
    background-color: #3742fa;
    color: #fff;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .result-row {
        display: flex;
        align-items: flex-end;
        margin: 10px 0;

        span {
            font-size: 18px;
        }

        .final-result {
            padding: 0 6px;

            .bold {
                font-weight: bold;
                font-size: 20px;
            }
        }

        .prev-text {
            width: 50%;
            font-size: 16px;
            font-weight: 300;
            position: relative;

            b {
                position: relative;
                z-index: 1;
                padding: 6px;
                padding-left: 0;
                background-color: #3742fa;
            }

            &::before {
                content: '';
                z-index: 0;
                position: absolute;
                left: 0;
                bottom: 6px;
                border-bottom: 1px #fff dotted;
                width: 100%;
                height: 1px;
            }
        }
    }


}
.user-info {
    h4 {
        white-space: nowrap;
        font-size: 20px;
        margin-bottom: 0;
    }
    .email-user {
        font-size: 10px;
        color: #888;
    }
}
.reqie {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #888;
    font-size: 12px;
}

.share {
    width: 100%;
    background-color: #f1c40f;
    padding: 16px;
    border-radius: 12px;

    a:last-child {
        margin-bottom: 0;
    }

    a {
        margin-bottom: 20px;
        display: block;

        &:hover {
            svg {
                opacity: 0.6;
            }
        }
    }

    svg {
        width: 30px;
        height: 30px;
        fill: transparent;
        stroke: #fff;
        transition: 1s;

    }

    .social-links {
        svg {
            fill: #fff;
            stroke: none;
        }
    }
}

.main-footer {
    margin-top: 50px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding-top: 40px;
    padding-bottom: 80px;

    h4 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
        position: relative;
        padding-left: 20px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            width: 12px;
            height: 12px;
            border-radius: 4px;
            background-color: #3742fa;
        }
    }

    h5 {
        a {
            color: #222;
            font-size: 16px;
            text-decoration: none !important;
            transition: 0.4s;

            &:hover {
                color: #3742fa;
            }
        }
    }
}

.add-to-fav {
    cursor: pointer;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 3px 0, rgba(0, 0, 0, .06) 0 1px 2px 0;
    border-radius: 12px;
    display: flex;
    align-items: center;

    &.active {
        span {
            opacity: 0;
            width: 0%;
        }

        svg {
            width: 40px;
            fill: #3742fa;
            stroke: #3742fa;
        }
    }

    svg {
        transition: 0.5s;
        width: 34px;
        height: 44px;
        fill: transparent;
        stroke: #000;
    }

    span {
        font-size: 14px;
        width: 95px;
        white-space: nowrap;
        color: #222;
        transition: 0.5s;
        overflow: hidden;
    }
}

.has-help {
    position: relative;

    .second-message {
        opacity: 0;
    }

    &.active {
        .first-message {
            opacity: 0;
        }

        .second-message {
            opacity: 1;
        }
    }

    &:hover {
        .help-message {
            display: block;
        }
    }

    .help-message {
        display: none;
        position: absolute;
        top: calc(100% + 10px);
        width: auto;
        min-width: 200px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        z-index: 9;
        padding: 10px;
        border-radius: 12px;
        height: auto;
        font-size: 12px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, .1) 0 1px 3px 0, rgba(0, 0, 0, .06) 0 1px 2px 0;
    }
}

.calc-interested {
    margin-top: 20px;
    padding: 16px 30px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 5px 0, rgba(0, 0, 0, .06) 0 1px 2px 0;
    margin-right: 20px;
    background-color: #fff;
    display: block;
    color: #222;
    text-decoration: none !important;
    transition: 0.4s;

    &:hover {
        background-color: #3742fa;
        color: #fff;
    }

    h3 {
        font-size: 18px;
        margin: 0;
        font-weight: 500;
    }
}

.if-error {
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 5px 0, rgba(0, 0, 0, .06) 0 1px 2px 0;
    margin-top: 30px;

    h4 {
        font-size: 22px;
        color: #555;
        font-weight: 500;
        margin-top: 14px;
        line-height: 150%;
    }

    .hash {
        font-weight: 300;
        font-size: 12px;
    }

    .contact-button-open {
        padding: 10px 20px;
        display: inline-block;
        margin-top: 10px;
        border-radius: 12px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        border: 1px #3742fa solid;
        color: #3742fa;
        transition: 0.4s;

        &:hover {
            background-color: #3742fa;
            color: #fff;
        }
    }
}

.if-error {
    .our-team {
        position: absolute;
        bottom: -40px;
        right: 0;
        font-weight: bold;
        color: #3742fa;
        opacity: 0.1;
        text-transform: uppercase;
        font-size: 70px;
        z-index: -1;
    }
}

.list-fav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .fav-item {
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 12px;
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, .1) 0 1px 5px 0, rgba(0, 0, 0, .06) 0 1px 2px 0;

        &:hover {
            background-color: #3742fa;

            .fav-status {
                svg {
                    stroke: #fff;
                }
            }

            .fav-status.active {
                svg {
                    fill: #fff;
                    stroke: #fff;
                }
            }

            a {
                color: #fff;
            }
        }

        a {
            transition: 0.5s;
            color: #222;
            font-size: 18px;
            font-weight: 500;
            text-decoration: none !important;
        }
    }
}

@keyframes tuf {
    0% {
        transform: rotate(-5deg);
    }

    10% {
        transform: rotate(5deg);
    }

    20% {
        transform: rotate(-5deg);
    }

    30% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    80% {
        transform: rotate(5deg);
    }

    90% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

.fav-status {
    cursor: pointer;
    margin-left: 20px;
    transition: 0.5s;

    // &:hover {
    //     animation: tuf 1s;
    // }
    svg {
        width: 44px;
        height: 44px;
        fill: transparent;
        stroke: #000;
        transition: 0.5s;
    }

    &.active {
        svg {
            fill: #3742fa;
            stroke: #3742fa;
        }
    }
}
.settings-urls {
    text-align: left;
    a {
        color: #222;
        margin-top: 8px;
        padding: 4px 8px;
        transition: 0.4s;
        display: block;
        white-space: nowrap;
        border-radius: 6px;
        font-size: 12px;
        &:hover {
            background-color: #3742fa;
            color: #fff;
            text-decoration: none !important;
        }
    }
}
.in-block {
    margin-left: 20px;
    position: relative;

    &:hover {
        .drop-it {
            transform: translateX(-50%) scale(1);
            opacity: 1;
        }
    }

    .icon-openner {
        svg {
            width: 30px;
            height: 30px;
            fill: #3742fa;
            opacity: 0.8;
            stroke: #fff;
        }
    }

    .drop-it {
        position: absolute;
        left: 50%;
        top: 100%;
        transition: 0.5s;
        opacity: 0;
        transform-origin: top center;
        transform: translateX(-50%) scale(0);
        text-align: center;
        padding: 10px;
        border-radius: 12px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, .1) 0 1px 5px 0, rgba(0, 0, 0, .06) 0 1px 2px 0;

        p {
            margin-bottom: 0px;
            font-size: 14px;
            color: #555;
            font-weight: 500;
        }

        .social-in {
            display: flex;
            margin-top: 6px;
            justify-content: space-between;

            div {
                margin: 0 10px;
            }
        }
    }
}

.reg-info {
    padding: 20px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 5px 0, rgba(0, 0, 0, .06) 0 1px 2px 0;
    margin: 50px 0;
    border-radius: 12px;

    h3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 140%;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    h4 {
        margin: 10px 0;
        font-size: 16px;
        font-weight: 300;
        color: #555;
    }
}

.social-in {
    display: flex;
    margin-top: 20px;
    align-items: center;

    div {
        transition: 0.5s;
        width: 120px;
        text-align: center;
        cursor: pointer;
        margin-right: 20px;
        padding: 6px 10px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, .1) 0 1px 5px 0, rgba(0, 0, 0, .06) 0 1px 2px 0;

        &:hover {
            opacity: 0.5;
        }

        img {
            width: 90px;
            height: 20px;
            object-fit: contain;
        }
    }

    .facebook {
        background-color: #3742fa;
    }
}

.search-button {
    margin-left: 20px;
    // box-shadow: rgba(0,0,0,.1) 0 1px 5px 0,rgba(0,0,0,.06) 0 1px 2px 0;
    padding: 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    svg {
        width: 20px;
        height: 20px;
        fill: transparent;
        stroke: #222;
        stroke-width: 2px;
    }
}
.loading-search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #3742fa;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  
.searchyy {
    color: #e74c3c;
}
.smart-search {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    width: 200%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 12px;
    padding: 16px;
    .search-archive {
        border-left: 1px #e9e9e9 solid;
        h4 {
        &:hover {
            background-color: #2ecc71;
        } 
    }
}
    h3 {
        font-size: 18px;
        margin: 16px 0;

        a {
            font-weight: bold;
            color: #222;
        }
    }

    h4 {
        font-size: 14px;
        background-color: #fff;
        padding: 6px 10px;
        transition: 0.4s;
        margin-right: 8px;
        margin-bottom: 8px;
        box-shadow: rgba(0, 0, 0, .1) 0 1px 5px 0, rgba(0, 0, 0, .06) 0 1px 2px 0;
        border-radius: 8px;

        &:hover {
            background-color: #3742fa;

            a {
                color: #fff;

            }
        }

        a {
            text-decoration: none !important;
            transition: 0.4s;
            font-weight: 500;
            color: #222;
        }
    }
}
.button-classic {
    padding: 10px 30px;
    border-radius: 12px;
    background-color: #3742fa;
    color: #fff;
    border: 0;
    margin-top: 10px;
    transition: 0.4s;
    &:hover {
        opacity: 0.7;
    }
}
.plenka  {
    cursor: pointer;
}
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    .plenka {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.718);
    }
    .block-popup {
        overflow: hidden;
        .back-image {
            position: absolute;
            left: -130px;
            top: 10%;
            transform: translateY(-50%);
            width: auto;
            z-index: -1;
            svg {
            height: 200px;
            fill: transparent;
            stroke: #3742fa;
            opacity: 0.1;
            }

        }
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 40px;
        border-radius: 12px;
        background-color: #fff;
        transform: translate(-50%,-50%);
        p {
            font-size: 14px;
            margin-bottom: 4px;
            margin-top: 4px;
            color: #5c5c5c;
        }
        input,textarea {
            width: 100%;
            background-color: #eee;
            border-radius: 4px;
            border: 0;
            margin: 10px 0;
            padding: 10px;
            transition: 0.3s;
            resize: none;
            outline: none !important;
            &:hover {
                box-shadow:  0 0 4px 2px rgba(19, 19, 19, 0.1);
            }
            &:focus {
                background-color: #f6f6f6;
            }
        }
    }
}
.search-popup {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 999;

    .plenka {
        position: absolute;
        left: 0;
        cursor: pointer;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .search-form {
        border-radius: 12px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;

        form {
            position: relative;
            display: flex;
            align-items: center;
        }

        input {
            outline: none;
            width: 100%;
            background-color: transparent;
            border: 0;
            font-size: 22px;
            padding: 10px 20px;
            border-radius: 12px;
        }

        button {
            margin-left: 10px;
            background-color: #3742fa;
            border: 0;
            height: 55px;
            min-width: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;

            svg {
                width: 20px;
                height: 20px;
                fill: transparent;
                stroke-width: 2px;
                stroke: #fff;
            }
        }
    }
}

.copyright {
    background-color: #3742fa;
    color: #fff;
    padding: 10px 0;

    p {
        margin: 0;
        font-weight: bold;
        font-size: 14px;
    }

    .created-by {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        transition: 0.4s;
        border-radius: 4px;
        padding: 4px 10px;

        &:hover {
            background-color: #fff;
            color: #3742fa;
            text-decoration: none !important;
        }
    }
}

.mob-go {
    display: none;
}

.mobile-menu {
    display: none;
}

.info-alert {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 5px 0, rgba(0, 0, 0, .06) 0 1px 2px 0;
    background-color: #e74c3c;

    svg {
        width: 200px;
        height: 100px;
        fill: transparent;
        stroke: #fff;
        stroke-width: 1px;
    }

    .info-error {
        padding: 0 20px;
        color: #fff;
        font-size: 18px;
    }

}

.checkbox-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-top: 20px;
    margin-right: 20px;

    label {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;

        input {
            display: none;
        }

        input:checked~.checkbox {
            border-color: #3742fa;
            background-color: #3742fa;
            background-size: 10px 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('../img/icons/checked.png');
        }

        span {
            font-size: 14px;
            color: #555;
        }

        .checkbox {
            border-radius: 4px;
            width: 16px;
            height: 16px;
            border: 1px #e9e9e9 solid;
            margin-right: 10px;
        }
    }
}

@media (max-width:990px) {
    .popup .block-popup {
        width: 90%;
        padding: 20px;
    } 
    .search-oppener-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        border: 1px #3742fa solid;
        padding: 6px 10px;
        border-radius: 12px;
        background-color: #3742fa;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 13px;
        svg {
            width: 20px;
            height: 20px;
            fill: transparent;
            stroke: #fff;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    .search-popup .search-form {
        width: 70%;
    }
    .smart-search {
        width: 100%;
    }
    .f-24 {
        text-align: center;
        font-size: 20px;
    }

    .more-and-more {
        margin-top: 16px;
    }

    .main-archiv h2 {
        font-size: 24px;
    }

    .main-archiv h3 {
        font-size: 16px;
    }

    .archiv-block h3 {
        font-size: 18px;
    }

    .archiv-block h4 {
        font-size: 14px;
    }

    .grid-item {
        width: 100%;
        padding-bottom: 18px;
    }

    .main {
        padding: 50px 0;
    }

    .isotopegrid {
        margin: 0 !important;
    }

    .help-message {
        display: none !important;
    }

    .info-alert {
        width: 100%;

        .info-error {
            padding: 0 10px;
            font-size: 12px;
        }
    }

    .breadcrumbs span {
        padding: 0 6px;
    }

    .breadcrumbs a {
        font-size: 10px;
    }

    .calculator-page h1 {
        font-size: 26px;
        max-width: 100%;
    }

    .langs-block {
        text-align: center;

        span {
            font-size: 12px;
            color: #555;
        }

        .langs-line {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                font-size: 12px;
                margin: 4px 10px;
                color: #3742fa;
                text-transform: uppercase;
            }
        }
    }

    .mob-go {
        display: block;
    }

    .mob-no {
        display: none;
    }

    .main-header {
        padding: 20px;
    }

    .burger {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
            display: block;
            width: 40px;
            height: 2px;
            transition: 0.5s;
            margin: 3px 0;
            background-color: #222;
        }

        &.active {
            span {
                background-color: #3742fa;
            }

            span:first-child {
                transform: rotate(45deg);
            }

            span:nth-child(2) {
                width: 0;
                margin: 0;
            }

            span:last-child {
                margin-top: -7px;
                transform: rotate(-45deg);
            }
        }
    }

    .hash {
        font-size: 12px;
    }

    .main h1 {
        margin: 10px 0;
        font-size: 26px;
    }

    .main h2 {
        font-size: 16px;
    }

    .calc-category h3 {
        font-size: 17px;
    }

    .calc-category h4 {
        font-size: 14px;
    }

    .text {
        font-size: 14px;
    }

    .if-error {
        padding: 15px;
        padding-bottom: 40px;

        h4 {
            font-size: 18px;
        }

        .contact-button-open {
            font-size: 12px;
            text-transform: none;
            padding: 6px 10px;
            border-radius: 8px;
        }

        .our-team {
            font-size: 40px;
            bottom: -20px;
        }
    }

    .main-footer h4 {
        margin-top: 40px;
    }

    .add-to-fav {
        position: static;
    }

    .mobile-column {
        align-items: flex-start !important;
        flex-direction: column;
    }

    .calculator-page h2 {
        margin-top: 14px;
    }

    .calculator-page .text {
        font-size: 12px;
    }

    .ttl.h2 {
        font-size: 22px;
    }

    .calc-interested {
        margin: 10px;
        padding: 10px 20px;
        margin-bottom: 0;
        margin-right: 0;

        h3 {
            font-size: 14px;
        }
    }

    .calc-block {
        .mt-5 {
            width: 100%;
        }

        .d-flex {
            flex-direction: column;
        }

        form {
            position: relative;
            width: 100%;

            .input-value {
                width: 100%;
                margin-top: 10px;

                input {
                    width: 100% !important;
                    margin: 0 auto;
                    display: block;
                }
            }

            .title-input {
                margin-top: 20px;
                padding-right: 0;
            }
        }
    }

    .reg-info {
        width: 100%;
    }

    .breadcrumbs {
        padding: 10px 0;
        margin-bottom: 20px;
    }

    .title-input {
        text-align: center !important;
    }

    .ttl {
        margin-bottom: 20px !important;
        margin-top: 10px !important;
        font-size: 28px;
    }

    .list-fav .fav-item {
        padding: 0 10px;
    }

    .list-fav .fav-item a {
        font-size: 16px;
    }

    .mobile-menu {
        display: block;
        position: fixed;
        left: -100%;
        opacity: 0;
        transform-origin: left;
        top: 0;
        transition: 0.5s;
        width: 80%;
        height: 100vh;
        background-color: #fff;
        z-index: 150;
        box-shadow: rgba(0, 0, 0, .1) 0 1px 5px 0, rgba(0, 0, 0, .06) 0 1px 2px 0;
        padding: 30px;

        &.active {
            left: 0px;
            opacity: 1;
        }

        .social-in {
            justify-content: center;

            .reg-in {
                margin: 0;
            }
        }

        ul {
            margin-top: 40px;
            padding: 0;
            list-style: none;

            a {
                display: block;
                color: #000;
                font-weight: 600;
                font-size: 18px;
                position: relative;
                padding: 6px 0;
                padding-left: 20px;
                text-decoration: none;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    transition: 0.5s;
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                    width: 8px;
                    border-radius: 4px;
                    height: 8px;
                    background-color: #3742fa;
                }

                &.active {
                    &::before {
                        width: 15px;
                        height: 4px;
                        left: -5px;
                        background-color: #2ecc71;
                        transform: translateY(-50%) rotate(0deg);

                    }
                }
            }
        }

        .social-in {
            .log-in {
                background-color: #3742fa;
                color: #fff;
                width: auto;
                padding-left: 20px;
                padding-right: 20px;
            }

            .reg-in {
                width: auto;
            }
        }
    }

    .droppy {
        display: none;
        margin: 0 !important;
        padding-left: 0;

        a {
            font-weight: 500 !important;
            font-size: 16px !important;

            &::before {
                background-color: #2ecc71 !important;
            }
        }

    }

    body.hiddy {
        overflow: hidden;
    }

    .copyright .created-by,
    .copyright p {
        font-size: 10px;
    }

    .result {
        .result-row {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 0;

            .final-result {
                padding: 0;
                position: relative;
            }

            .prev-text {
                width: 100%;

                b {
                    display: block;
                    font-size: 12px;
                    padding: 0 !important;
                }

                &::before {
                    display: none;
                }
            }
        }
    }

    .share {
        display: inline-flex;
        width: auto;

        a {
            margin-bottom: 0;
            margin: 0 10px;
        }

        .social-links {
            display: flex;
        }
    }

    .calculator-page {
        .pt-5 {
            padding-top: 25px !important;
        }
    }
}

@media (max-width:660px) {
    .search-popup .search-form {
        width: 90%;
    }
}