html {
    min-width: 320px;
    background-color: #f0f0f0;
}

body {
    height: 100%;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
    transition: all .3s;
}
.d-flex {
    display: flex;
}
.between {
    justify-content: space-between;
}
.input-wrap.w-20 {
    width: 20%;
    margin: 10px 0;
}
.input-wrap.w-45 {
    width: 45%;
    margin: 10px 0;
}
.add-new-variable {
    padding: 10px 20px;
    background: #00c401;
    color: #fff;
    border-radius: 12px;
    display: inline-block;
    margin-top: 16px;
}
.delete-row-calc {
    padding: 6px;
    background: #ff2222;
    color: #fff;
    margin: 10px 0;
    display: flex;
    align-items: center;
    border-radius: 12px;
}
.wrap {
    position: relative;
    overflow: hidden;
    min-width: 1140px;
    margin: 0 auto;
}

@-webkit-keyframes elastic-rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes elastic-rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#google_map {
    margin: 10px auto;
    height: 371px;
    width: 100%;
    display: none;
}

#my-location {
    display: none;
}

.empty-response {
    color: #fff;
    padding: 60px 0;
    text-align: center;
    font-size: 25px;
}

/*--------------------go-top --------------------*/

.go-top {
    display: none;
    position: fixed;
    right: 4px;
    bottom: 65px;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.go-top::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 24px;
    height: 35px;
    margin: auto;
    content: '';
    background: url(../img/small-icons/arrow-up.png) no-repeat center;
}

.go-top:hover {
    border: 1px solid #112d00;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.go-top:hover::after {
    background: url(../img/small-icons/arrow-up-hover.png) no-repeat center;
}

/*--------------------go-top --------------------*/

/*--------------------forms --------------------*/

form {
    position: relative;
}

label {
    cursor: pointer;
    display: block;
    padding: 15px 0;
}
#pdf-form input{
    border: none;
}
#pdf-form input[type=file]{
    width: auto;
    height: auto;
    margin: auto;
}
.pdf_form_delete p{
    display: inline-block;
}
#pdf_form_delete{
    float: right;
}
#pdf_form_delete input[type=submit]{
    content: '';
    background: url(../img/small-icons/remove.png) no-repeat;
    border: none;
    width: 24px;
    height: 24px;
    margin: -4px 0 0 10px;
    background-position-x: center;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#pdf_form_delete input[type=submit]:hover{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.pdf_form_delete .pdf_response{
    display: block;
    font-size: 5px;
    color: white;
    background: #90CB41;
    margin-bottom: 5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.pdf_form_delete .pdf_response_visible{
    font-size: 15px;
    padding: 5px 0;
}

input:not([type=checkbox]):not([type=radio]):not([type=search]),
textarea {
    width: 100%;
    min-width: 100px;
    height: 42px;
    display: block;
    padding: 0 10px;
    font-size: 14px;
    color: #000;
    border-radius: 4px;
    border: 1px solid #969ba2;
}

textarea {
    padding: 5px 10px;
    height: 128px;
}

input:not([type=checkbox]):not([type=radio]):not([type=search]):focus,
textarea:focus {
    border: 1px solid #6b6d70;
}

input.error-input:not([type=checkbox]):not([type=radio]):focus, textarea.error-input:focus {
    border: 1px solid #ba0000;
}

.btn {
    display: block;
    padding: 5px 10px;
    background-color: #2f2f2f;
    color: #fff;
    width: 100%;
    border-radius: 4px;
    height: 42px;
    margin: 25px auto 5px;
}

.btn:focus {
    background-color: #757575;color:#fff;
}

.btn:hover {
    background-color: #757575;color:#fff;
}

.btn.small {
    width: 15%;
}

.btn.medium {
    width: 50%;
}

.btn.left {
    margin-left: 0;
}

.btn.right {
    margin-right: 0;
}

.btn.btn-inline {
    display: inline-block;
}

.btn.btn-inline.left {
    float: left;
}

.btn.btn-inline.right {
    float: right;
}

.btn.map {
    margin: 0 auto 15px;
}

/*--------------------forms --------------------*/

/*--------------------pagination-block --------------------*/

.pagination-block {
    padding: 10px;
}

.pagination-block .pagination {
    font-size: 0;
}

.pagination-block .pagination li {
    display: inline-block;
    vertical-align: middle;
}

.pagination-block .pagination li:hover {
    background: #2f2f2f;
}

.pagination-block .pagination li a {
    cursor: pointer;
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    padding: 0 1px;
    line-height: 26px;
    color: #fffff6;
    font-size: 14px;
    font-weight: 300;
}

.pagination-block .pagination li.active a {
    background: #112d00;
}

.pagination-block .pagination li span {
    cursor: pointer;
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    padding: 0 1px;
    line-height: 26px;
    color: #fffff6;
    font-size: 14px;
    font-weight: 300;
}

.pagination-block .pagination li.active span {
    background: #2f2f2f;
}

.pagination-block .pagination li .prev {
}

.pagination-block .pagination li .prev:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 20px;
    background: url('../img/small-icons/left-arrow.png') no-repeat center;
}

.pagination-block .pagination li.disabled .prev:after {
    background: url('../img/small-icons/left-arrow.png') no-repeat center;
}

.pagination-block .pagination li .next {
}

.pagination-block .pagination li .next:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 20px;
    background: url('../img/small-icons/right-arrow.png') no-repeat center;
}

.pagination-block .pagination li.disabled .next:after {
    background: url('../img/small-icons/right-arrow.png') no-repeat center;
}

/*--------------------pagination-block --------------------*/

/*--------------------validation --------------------*/
form .field-row .field-wrap {
    position: relative;
}

form .field-row {
    padding: 10px 0;
}

form .field-row:first-of-type {
    padding-top: 20px;
}

form .field-row:last-of-type {
    padding-top: 20px;
}

.loader-list {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff url(../img/ajax-loader.gif) no-repeat center center;
    opacity: .75;
    filter: alpha(opacity=75);
    z-index: 999;
    margin: auto;
}

label.error {
    background-color: #ff0000;
    font-size: 14px;
    border: 1px solid #ff0000;
    padding: 4px 10px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 6px #ddd;
    -webkit-box-shadow: 0 0 6px #ddd;
    position: absolute;
    max-width: 300px;
    bottom: 100%;
    right: 0;
    cursor: pointer;
    margin-bottom: 7px;
}

label.error:before {
    content: '';
    display: block;
    border: 10px solid;
    border-color: #ff0000 transparent transparent;
    bottom: -17px;
    height: 0;
    left: 10px;
    position: absolute;
    width: 0;
}

.form input.error-input,
.form textarea.error-input {
    border: 1px solid #ff0000;
}

/*--------------------validation --------------------*/

/*--------------------empty-list --------------------*/

.empty-list {
    font-size: 20px;
    text-align: center;
    padding: 40px;
    color: #b6b6b6;
}

/*--------------------empty-list --------------------*/

/*--------------------modals --------------------*/

a.getModal {
    opacity: 0;
}

.modal {
    position: relative;
    width: 500px;
    background: #fff;
}

.modal .modal-top {
    position: relative;
    background: #515862;
    padding: 16px 70px 16px 30px;
}

.modal .modal-top .modal-title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.modal .modal-top .modal-close {
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 30px;
    background: url('../img/small-icons/close-modal.png') no-repeat center;
    width: 22px;
    height: 22px;
    transition: all .3s;
}

.modal .modal-top .modal-close:hover {
    background: url('../img/small-icons/close-modal-hover.png') no-repeat center;
    width: 22px;
    height: 22px;
}

.modal .modal-center {
    padding: 16px 30px;
}

.modal .modal-center .modal-text {
    color: #737373;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.modal .modal-center .modal-text > div {
    display: inline-block;
    margin: 0 10px;
}

.modal .modal-center .modal-text > div:first-of-type {
    margin-left: 0;
}

.modal .modal-center .modal-text > div:last-of-type {
    margin-right: 0;
}

.modal .modal-bottom {
    border-top: 1px solid #e5e5e5;
    padding: 20px 30px;
    text-align: center;
}

/*--------------------modals --------------------*/

/*--------------------remove-restore-more-elements --------------------*/

.remove-many-object,
.restore-many-object {
    position: fixed;
    right: -116px;
    bottom: 120px;
    padding: 20px;
    z-index: 9;
    background-color: #d10000;
    cursor: pointer;
    border-right: 0;
    color: #fff;
    border-radius: 6px 0 0 6px;
    font-size: 16px;
}

.remove-many-object:hover {
    background-color: #e40000;
}

.restore-many-object {
    background-color: #009601;
    bottom: 184px;
}

.restore-many-object:hover {
    background-color: #00c401;
}

.remove-all-elements,
.restore-all-elements {
    background: url(../img/small-icons/checkbox.png) no-repeat;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    -moz-appearance: none; /* not working */
    -webkit-appearance: none;
    -ms-appearance: none; /*not working */
    -o-appearance: none;
    appearance: none;
}

.remove-all-elements:checked,
.restore-all-elements:checked {
    background-position: -16px 0;
}

.remove-all-elements:hover:checked, .remove-all-elements:focus:checked,
.restore-all-elements:hover:checked, .restore-all-elements:focus:checked {
    background-position: -16px -16px;
}

/* focus */

.remove-all-elements:hover, .remove-all-elements:focus,
.restore-all-elements:hover, .restore-all-elements:focus {
    background-position: 0 -16px;
}

/* active */
.remove-all-elements:active,
.restore-all-elements:active {
    background-position: 0 -48px;
}

.remove-all-elements:active:checked,
.restore-all-elements:active:checked {
    background-position: -16px -48px;
}

/* disabled */
.remove-all-elements:disabled,
.restore-all-elements:disabled {
    background-position: 0 -32px;
}

.remove-all-elements:disabled:checked,
.restore-all-elements:disabled:checked {
    background-position: -16px -32px;
}

.remove-all-elements:hover:disabled, .remove-all-elements:focus:disabled,
.restore-all-elements:hover:disabled, .restore-all-elements:focus:disabled {
    background-position: 0 -32px;
}

.remove-all-elements:hover:disabled:checked, .remove-all-elements:focus:disabled:checked,
.restore-all-elements:hover:disabled:checked, .restore-all-elements:focus:disabled:checked {
    background-position: -16px -32px;
}

/*--------------------remove-restore-more-elements --------------------*/

/*--------------------alert-parent --------------------*/

.alert-parent {
    position: fixed;
    top: 65px;
    right: 5px;
    max-width: 300px;
}

.alert-parent .alert-notification {
    padding: 15px 20px;
    background-color: rgb(53, 63, 77);
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    opacity: .8;
    transition: .3s all;
}

.alert-parent .alert-notification:hover {
    opacity: 1;
}

.alert-parent .alert-notification a {
    color: #fff;
}

.alert-parent .alert-notification a span {
    color: #e4c38b;
}

.alert {
    display: none;
    padding: 10px;
    position: absolute;
    border-radius: 6px;
    font-size: 18px;
    left: 50%;
    width: 264px;
    color: #fff;
    opacity: .9;
    cursor: pointer;
    text-align: center;
    z-index: 9;
    top: 70px;
}

.alert.json-info {
    background-color: #6bae43;
}

.alert.json-error {
    background-color: #e40003;
}

/*--------------------alert-parent --------------------*/

/*---------------------Breadcrumbs---------------------*/
.content .breadcrumbs {
    font-size: 14px;
    padding-bottom: 15px;
    margin-top: -15px;
}

.content .breadcrumbs a {
    position: relative;
    padding-right: 10px;
    transition: color .3s;
    padding-left: 5px;
}

.content .breadcrumbs a:first-of-type {
    padding-left: 0;
}

.content .breadcrumbs a.active {
    color: #b7914c;
}

.content .breadcrumbs a:not(.active):before {
    content: '-';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    width: 5px;
}

.content .breadcrumbs a:hover {
    color: #a4a5a7;
}

.content .breadcrumbs span {
    color: #b7914c;
    padding-left: 5px;
}

/*---------------------Breadcrumbs---------------------*/

/*---------------------Select2---------------------*/

.wrap .select2-container {
    width: 100% !important;
}

.select2-container.select2-container--focus .select2-selection {
    border: 1px solid #73777d;
    border-radius: 4px;
    font-size: 0;
}

.select2-container.select2-container--open .select2-selection {
    border: 1px solid #73777d;
    border-radius: 4px;
}

.select2-container--default .select2-selection {
    min-height: 42px;
}

.select2-container--default .select2-selection .select2-selection__rendered {
    line-height: 42px;
}

.select2-container--default .select2-selection .select2-selection__arrow {
    height: 42px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    height: 30px;
    line-height: 30px;
    margin: 5px 5px 5px 0;
    font-size: 16px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
}

/*---------------------Select2---------------------*/

/*---------------------Table---------------------*/

.list-table {
    background-color: #2f2f2f;
    padding: 20px;
    width: 100%;
    border-radius:  0 20px 20px 20px;
    position: relative;
}

.list-table .search-block {
    position: absolute;
    top: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    display: none;
    z-index: 1;
    left: 20px;
    right: 20px;
    margin: auto;
    box-shadow: 0px 0px 20px 1px rgb(82, 89, 99);
}

.list-table .table-title {
    font-size: 22px;
    color: #fff;
    margin-bottom: 15px;
}

.list-table .table-delimiter {
    margin: 35px 0 15px;
    border-bottom: 1px dashed #fff;
}

.list-table .alias-block {
    cursor: pointer;
}

.list-table .table {
    width: 100%;
    text-align: left;
    position: relative;
}

.list-table .table thead tr {
    background-color: #F1F1F1;
    color: #000;
    text-align: center;
}

.list-table .table thead tr th {
    padding: 10px 5px;
    font-weight: 500;
}

.list-table .table thead tr th.restore-all {
    cursor: pointer;
}

.list-table .table thead tr th.remove-all {
    cursor: pointer;
}

.list-table .table tbody {
    background-color: #fff;
    text-align: center;
    font-size: 16px;
}

.list-table .table tbody tr:hover {
    background-color: #f0f0f0;
    transition: background-color .2s;
}

.list-table .table tbody tr td {
    padding: 10px 5px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.list-table .table tbody tr td.link-block a {
    text-decoration: underline;
}

.list-table .table tbody tr:last-of-type td {
    border-bottom: none;
}

.list-table .table tbody tr td:last-of-type {
    border-right: none;
}

.list-table .table tbody tr td:first-of-type a {
    text-decoration: underline;
}

.list-table .table tbody tr td.small {
    width: 6%;
}

.list-table .table tbody tr td.medium {
    width: 26%;
}

.list-table .table tbody tr td.big {
    width: 52%;
}

.list-table .table tbody tr td.dragHandle {
    cursor: move;
    position: relative;
}

.list-table .table tbody tr td.dragHandle::after {
    content: '';
    background: url(../img/small-icons/sort-arrows.png) no-repeat center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 16px;
    height: 19px;
}

.list-table .table tbody tr td.check-destroy-element {
    cursor: pointer;
}

.list-table .table tbody tr td.edit-links a {
    background-color: #cd1c24;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    line-height: 26px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.list-table .table tbody tr td.edit-links a:hover {
    background-color: #f61c24;
}

.list-table .table tbody tr td.edit-links a.active {
    background-color: #90cb41;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    line-height: 26px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.list-table .table tbody tr td.edit-links a.active:hover {
    background-color: #9cde49;
}

.list-table .table tbody tr td.active-link a {
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #cd1c24;
    display: inline-block;
}

.list-table .table tbody tr td.active-link a.active {
    background-color: #90cb41;
}

.list-table .table tbody tr td.active-link a::after {
    content: '';
    background-color: #fff;
    width: 2px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s;
    opacity: 0;
}

.list-table .table tbody tr td.active-link a.active::after {
    transform: rotate(90deg);
    opacity: 1;
}

.list-table .table tbody tr td.active-link a::before {
    content: '';
    background-color: #fff;
    width: 12px;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s;
}

.list-table .table tbody tr td.active-link a.active::before {
    transform: rotate(90deg);
}

.list-table .table tfoot tr {
    background-color: #F1F1F1;
    height: 41px;
}

.list-table .table tfoot tr td {

}

.content .list-table .item-image {
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 150px;
}

.content .list-table .item-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 3000px;
}

.content .list-table .youtube-img {
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 150px;
}

.content .list-table .youtube-img a {
    padding: 10px 5px;
    display: block;
    text-decoration: none;
}

.content .list-table .youtube-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 3000px;
}

/*---------------------Table---------------------*/

/**************************************
***************START Header******************
**************************************/

.header {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #2F2F2F;
}

.header .wrap {
    height: 60px;
    padding: 9px 10px;
}

.header .wrap .header-left {
    display: inline-block;
    float: left;
    padding-left: 20px;
    transition: padding .3s;
}

.header.with-sidebar .wrap .header-left {
    display: inline-block;
    float: left;
    padding-left: 240px;
    transition: padding .3s;
}

.header .wrap .header-left a {
    font-size: 16px;
    color: #b7914c;
    display: block;
    font-weight: bold;
    letter-spacing: -.5px;
    text-align: center;
}

.header .wrap .header-left a img {
    display: block;
    height: 42px;
}

.header .wrap .header-right {
    display: inline-block;
    float: right;
    font-size: 0;
}

.header .wrap .header-right .header-right-block:not(:last-of-type)::after {
    content: '';
    background-color: #cfd1cf;
    position: absolute;
    width: 1px;
    height: 24px;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
}

.header .wrap .header-right .header-right-block {
    display: inline-block;
    vertical-align: middle;
}

.header.with-sidebar .wrap .header-right {
}

.header .wrap .header-right .header-lang {
    padding: 0 30px;
    position: relative;
    height: 42px;
    line-height: 42px;
}

.header .wrap .header-right .header-lang a {
    color: #a4a5a7;
    border: 1px solid #a4a5a7;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    width: 24px;
    height: 24px;
    line-height: 22px;
    font-size: 15px;
    margin-left: 5px;
}

.header .wrap .header-right .header-lang a:first-of-type {
    margin-left: 0;
}

.header .wrap .header-right .header-lang a.active {
    color: #FF312E;
    border: 1px solid #FF312E;
}

.header .wrap .header-right .header-go-site {
    padding: 0 30px;
    height: 24px;
    position: relative;
    font-size: 16px;
}

.header .wrap .header-right .header-go-site a {
    padding: 10px 30px;
    color: #000;
    border-radius: 4px;
    border-top: 2.5px solid #fff;
    border-radius: 20px;
    border-bottom: 2.5px solid #fff;
    background-color: #ffffff;
}

.header .wrap .header-right .header-go-site a:active {
    -webkit-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
}

.header .wrap .header-right .header-go-site a:hover {
    background-color: #ff312e;
    color: #fff;
    border-color: #ff312e;
}

.header .wrap .header-right .header-user-info {
    padding-left: 30px;
    position: relative;
    transition: all .3s;
}

.header.with-sidebar .wrap .header-right .header-user-info {
    display: none;
}

.header .wrap .header-right .header-user-info .header-avatar {
    display: inline-block;
    width: 42px;
    transition: all .3s;
    vertical-align: middle;
}

.header .wrap .header-right .header-user-info .header-avatar img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 4px;
    vertical-align: middle;
}

.header .wrap .header-right .header-user-info .header-user {
    display: inline-block;
    padding: 0 30px 0 15px;
    transition: all .3s;
    vertical-align: middle;
    font-size: 15px;
}

.header .wrap .header-right .header-user-info .header-user span {
    color: #a4a5a7;
}

.header .wrap .header-right .header-user-info .header-user .header-start-txt {
    vertical-align: middle;
}

.header .wrap .header-right .header-user-info .header-user .header-user-txt {
    color: #fff;
    vertical-align: middle;
    font-weight: bold;
}

.header .wrap .header-right .header-logout {
    padding: 0 10px 0 30px;
}

.header .wrap .header-right .header-logout a {
    background: url(../img/small-icons/exit.png) center no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.header .wrap .header-right .header-logout a:hover {
    background: url(../img/small-icons/exit-hover.png) center no-repeat;
}

.header-space {
    height: 60px;
}

/**************************************
***************END Header******************
**************************************/

/**************************************
***************START Sidebar******************
**************************************/

.sidebar-wrap {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    transition: left .3s;
    height: 100%;
}

.sidebar-wrap .sidebar {
    height: 100%;
    background-color: #2f2f2f;
    z-index: 2;
    position: relative;
}

.sidebar-wrap .sidebar .sidebar-top {
    padding-top: 9px;
    padding-bottom: 8px;
    border-bottom: 1px solid #464f5c;
    position: relative;
}

.sidebar-wrap .sidebar .sidebar-top .sidebar-avatar {
    display: inline-block;
    width: 52px;
    height: 42px;
    padding-left: 10px;
    transition: padding .3s;
}

.sidebar-wrap .sidebar .sidebar-top .sidebar-avatar img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 4px;
    vertical-align: middle;
}

.sidebar-wrap .sidebar .sidebar-top .sidebar-user {
    display: inline-block;
    padding-left: 15px;
}

.sidebar-wrap .sidebar .sidebar-top .sidebar-user span {
    color: #a4a5a7;
}

.sidebar-wrap .sidebar .sidebar-top .sidebar-user .sidebar-start-txt {
    vertical-align: middle;
}

.sidebar-wrap .sidebar .sidebar-top .sidebar-user .sidebar-user-txt {
    color: #fff;
    vertical-align: middle;
    font-weight: bold;
}

.sidebar-wrap .sidebar .sidebar-top .sidebar-settings {
    position: absolute;
    background: url(../img/small-icons/settings-hover.png) no-repeat center;
    width: 24px;
    height: 24px;
    right: 14px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transition: all .3s;
}

.sidebar-wrap .sidebar .sidebar-top .sidebar-settings:hover {
    background: url(../img/small-icons/settings-hover.png) no-repeat center;
    animation: elastic-rotation 2s linear infinite;
}

/*Modal Settings*/
.modal .modal-center .modal-text a {
    display: inline-block;
    margin: 0 10px;
}

.modal .modal-center .modal-text a:first-of-type {
    margin-left: 0;
}

.modal .modal-center .modal-text a:last-of-type {
    margin-right: 0;
}

.modal .modal-center .modal-text .modules {
    background: url(../img/small-icons/modules.png) no-repeat center;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.modal .modal-center .modal-text .modules:hover {
    background: url(../img/small-icons/modules-hover.png) no-repeat center;
}

.modal .modal-center .modal-text .sitemap {
    background: url(../img/small-icons/sitemap.png) no-repeat center;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.modal .modal-center .modal-text .sitemap:hover {
    background: url(../img/small-icons/sitemap-hover.png) no-repeat center;
}

/*Modal Settings*/

.sidebar-wrap .sidebar .menu-items-list {
}

.sidebar-wrap .sidebar .menu-items-list .menu-item {
    margin-top: 10px;

}

.sidebar-wrap .sidebar .menu-items-list .menu-item a {
    position: relative;
    display: block;
    padding: 16px 40px 16px 15px;
    border-radius: 20px 0 0 20px;
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.sidebar-wrap .sidebar .menu-items-list .menu-item a:hover {
    background-color: #757575;
}

.sidebar-wrap .sidebar .menu-items-list .menu-item a.active {
    background-color: #757575;
}

.sidebar-wrap .sidebar .menu-items-list .menu-item .alert-info {
    width: 24px;
    height: 24px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}

.sidebar-wrap .sidebar .menu-items-list .menu-item.has-child {
}

.sidebar-wrap .sidebar .menu-items-list .menu-item.has-child .menu-more-items {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    right: 14px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.sidebar-wrap .sidebar .menu-items-list .menu-item.has-child .menu-more-items::before {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    width: 12px;
    height: 2px;
    content: '';
    margin: auto;
    background-color: #333;
    transition: all .5s;
}

.sidebar-wrap .sidebar .menu-items-list .menu-item.has-child.open .menu-more-items::before {
    transform: rotate(-90deg);
    opacity: 0;
}

.sidebar-wrap .sidebar .menu-items-list .menu-item.has-child .menu-more-items::after {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 2px;
    height: 12px;
    content: '';
    margin: auto;
    background-color: #333;
    transition: all .5s;
}

.sidebar-wrap .sidebar .menu-items-list .menu-item.has-child.open .menu-more-items::after {
    transform: rotate(-90deg);
}

.sidebar-wrap .sidebar .menu-items-list .menu-item.has-child .hidden-menu-items {
    display: none;
}

.sidebar-wrap .sidebar .menu-items-list .menu-item.has-child .hidden-menu-items .menu-item {
    border-bottom: 1px solid #4d4d4d;
}

.sidebar-wrap .sidebar .menu-items-list .menu-item.has-child .hidden-menu-items .menu-item:first-of-type {
    border-top: 1px solid #4d4d4d;
}

.sidebar-wrap .sidebar .menu-items-list .menu-item.has-child .hidden-menu-items .menu-item:last-of-type {
    border-bottom: 0;
}

.sidebar-wrap .sidebar .menu-items-list .menu-item.has-child .hidden-menu-items .menu-item a {
    padding-left: 40px;
}

.sidebar-wrap .sidebar .menu-items-list .menu-item.has-child .hidden-menu-items .menu-item a::before {
    position: absolute;
    left: 20px;
    content: '-';
    font-weight: bold;
}

.sidebar-wrap .hide-menu-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -20px;
    top: 218px;
    background: #2f2f2f url(../img/small-icons/arrow-next.png) no-repeat right 5px center;
    border-radius: 50%;
    z-index: 1;
    transition: right .3s;
}

.sidebar-wrap.sidebar-hidden {
    left: -250px;
}

.sidebar-wrap.sidebar-hidden .hide-menu-btn.close {
    right: -15px;
}

.sidebar-wrap.sidebar-hidden .hide-menu-btn.close:hover {
    right: -20px;
}

.sidebar-wrap .sidebar .mCSB_inside > .mCSB_container {
    margin-right: 11px;
}

.sidebar-wrap .sidebar .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: 0;
}

/**************************************
***************END Sidebar******************
**************************************/

/**************************************
***************START Content******************
**************************************/

.content {
    transition: padding .3s;
    font-size: 0;
    min-height: 300px;
    background-color:#ffffff;
}

.content.with-sidebar {
    padding: 30px 30px 18px 285px;
}

.content .main-block {
    display: inline-block;
    width: 48%;
    font-size: 14px;
    min-height: 350px;
    box-shadow: 0px 0px 10px 0px rgba(53, 63, 77, 0.6);
    margin: 2%;
    padding: 20px;
    overflow: hidden;
}

.content .main-block:nth-of-type(even) {
    margin-right: 0;
}

.content .main-block:nth-of-type(odd) {
    margin-left: 0;
}

.content .main-block .main-block-title {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #babdc1;
    padding-bottom: 10px;
}

.content .main-block .main-block-content {
}

.content .main-block .main-block-content a {
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid #e4e4e4;
}

.content .main-block .main-block-content a:hover {
    background-color: #e6e6e6;
}

.content .main-block.block-1 {
    margin-top: 0;
}

.content .main-block.block-1 .main-block-content a {
    display: block;
    border-bottom: none;
    font-weight: bold;
}

.content .main-block.block-1 .main-block-content a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.content .main-block.block-1 .main-block-content span {
    display: block;
    font-weight: bold;
    padding: 10px 5px;
}

.content .main-block.block-1 .main-block-content .items {
    font-size: 0;
}

.content .main-block.block-1 .main-block-content .items div {
    display: inline-block;
    position: relative;
    margin: 6px 2%;
    width: 22%;
    overflow: hidden;
    height: 94px;
}

.content .main-block.block-1 .main-block-content .items div:nth-of-type(4n+1) {
    margin-left: 0;
}

.content .main-block.block-1 .main-block-content .items div:nth-of-type(4n) {
    margin-right: 0;
}

.content .main-block.block-1 .main-block-content .items img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 3000px;
}

.content .main-block.block-2 {
    margin-top: 0;
}

.content .main-block.block-2 .main-block-content a .name {
    font-weight: bold;
}

.content .main-block.block-3 {
    margin-bottom: 0;
}

.content .main-block.block-3 .main-block-content a {
    text-align: center;
    font-size: 0;
}

.content .main-block.block-3 .main-block-content a span {
    width: 25%;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    word-break: break-word;
}

.content .main-block.block-4 {
    margin-bottom: 0;
}

.content .main-block.block-4 .main-block-content div {
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}

.content .main-block.block-4 .main-block-content div:hover {
    background-color: #e6e6e6;
}

.content .main-block.block-4 .main-block-content span.name {
    font-weight: bold;
}

.content .youtube-img > a {
    position: relative;
    height: 100%;
}

.content .youtube-img > a::after {
    content: "";
    background: url('../img/small-icons/play-button.png') no-repeat center;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
}

/*--------------------START list-head-tabs --------------------*/

.content .list-head .list-head-tabs {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    border-radius: 20px 20px 0 0 ;
    background-color: #F1F1F1;
    transition: background-color .3s;
    position: relative;
}

.content .list-head .list-head-tabs.active {
    background-color: #2f2f2f;
}

.content .list-head .list-head-tabs:not(.active):hover {
    background-color: #757575;
}

.content .list-head .list-head-tabs a {
    color: #000;
}.content .list-head .list-head-tabs a:hover {
     color:#fff;
}

.content .list-head .list-head-tabs.active a {
    color: #fff;
}

.content .list-head .list-head-tabs .search-btn {
    padding: 10px;
}

.content .list-head .list-head-tabs .search-btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: url(../img/small-icons/search.png) no-repeat center;
    width: 24px;
    height: 24px;
}

/*--------------------END list-head-tabs --------------------*/


/*--------------------START login-register-page --------------------*/
.content .full-page-height {
    height: calc(100vh - 60px);
    background: #2f2f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content .login-register-page {
    background: #fff;
    width: 30%;
    padding:40px 30px;
    border-radius: 20px;
    margin: auto;
}
.content .login-register-page input {
    background: transparent !important;
    border: 1px #e6e6e6 solid !important;
    padding: 10px 20px !important;
    font-size: 20px !important;
    display: block; !important;
    height: auto !important;
}
.content .login-register-page .btn {
    background: #000 !important;
    height: auto !important;
    padding: 20px !important;
    border-radius: 12px !important;
}
.content .login-register-page .login-block-title {
    font-size: 20px;
    text-transform: uppercase !important;
    text-align: center;
    padding: 7px;
}

.content .login-register-page .login-block-content {
    font-size: 18px;
    padding: 15px 50px 0;
}

.content .login-register-page .login-block-content form {
    border-top: 1px solid #e6e6e6;
}

/*--------------------END login-register-page --------------------*/

/*--------------------START list-page --------------------*/

.content .list-page {
    font-size: 18px;
    position: relative;
}

/*--------------------END list-page --------------------*/

/*--------------------START form-content --------------------*/

.content .form-page {
    font-size: 16px;
    background-color: #2f2f2f;
    padding: 20px;
}

.content .form-content {
    font-size: 18px;
}

.content .form-page .form-head {
    border-bottom: 1px solid #a4a5a7;
    padding: 20px;
    background-color: #f0f0f0;
}

.content .form-page .form-head span {
    font-size: 18px;
}

.content .form-page .form-body {
    background-color: #f0f0f0;
    padding: 0 20px 20px;
}

.content .form-page .form-body.dropzone-form {
    background-color: #f0f0f0;
    padding: 20px;
}

.content .form-page .form-body.add-video-form {
    margin-bottom: 20px;
}

.content .form-page .form-body .form .fields-row .fields-title {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    padding: 15px;
    color: #fff;
    background-color: #2f2f2f;
}

.content .form-page .form-body .youtube_id {
    padding-top: 15px;
    max-width: 500px;
}

.content .form-page .form-body .youtube_id div {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.content .form-page .form-body .youtube_id div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content .form-content .form-page .form-body .form .fields-row .label-wrap {
    position: relative;
}

.content .form-content .form-page .form-body .form .fields-row .label-wrap .close-module {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url(../img/small-icons/remove.png) no-repeat center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
}

.content .form-content .form-page .form-body .form .fields-row .label-wrap .close-module:hover {
    box-shadow: 0px 0px 10px 0px rgba(53, 63, 77, 0.6);
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap {
    position: relative;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .clone_div:not(:first-of-type) {
    margin: 10px auto 0;
    position: relative;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .clone_div .destroy_cloned_element::after {
    content: '';
    cursor: pointer;
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
    background: #fff url(../img/small-icons/remove.png) no-repeat center;
    opacity: .8;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .clone_div .destroy_cloned_element:hover::after {
    opacity: 1;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .measure-name {
    position: absolute;
    right: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 42px;
    color: #757575;
    background: #ffffff;
    height: 40px;
    padding: 0 10px;
    border-radius: 0 4px 4px 0;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .parameter-input {
    padding-right: 50px;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .many-selects-select-block {
    font-size: 0;
    width: 100%;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .many-selects-select-block .parameter-input.many-selects-input {
    padding-right: 0;
    display: inline-block;
    width: 92%;
    margin-right: 1%;
    font-size: 16px;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .many-selects-select-block .select-block {
    display: inline-block;
    width: 7%;
    font-size: 16px;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .select-measure {
    padding-bottom: 20px;
    position: relative;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .select-measure:not(.nowrap):last-of-type {
    padding-bottom: 0;
}

/*.content .form-content .form-page .form-body .form .fields-row .input-wrap .select-measure:first-child {*/
/*padding-bottom: 20px;*/
/*}*/

.content .form-content .form-page .form-body .form .fields-row .input-wrap .select-measure .delmeasure::after {
    content: '';
    cursor: pointer;
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
    background: #fff url(../img/small-icons/remove.png) no-repeat center;
    opacity: .8;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .delmeasure:hover::after {
    opacity: 1;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .select-measure .delmeasure_new::after {
    content: '';
    cursor: pointer;
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
    background: #fff url(../img/small-icons/remove.png) no-repeat center;
    opacity: .8;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .delmeasure_new:hover::after {
    opacity: 1;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap #tablelistsorter_parametrvalue .inputs {
    padding-bottom: 20px;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .new-inputs {
    padding-bottom: 20px;
    position: relative;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .new-inputs:last-of-type {
    padding-bottom: 0;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .delparametrtypevalues::after {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -6px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
    background: #fff url(../img/small-icons/remove.png) no-repeat center;
    opacity: .8;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .delparametrtypevalues:hover::after {
    opacity: 1;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .delparametrtypevalues_new::after {
    content: '';
    cursor: pointer;
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
    background: #fff url(../img/small-icons/remove.png) no-repeat center;
    opacity: .8;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .delparametrtypevalues_new:hover::after {
    opacity: 1;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .module {
    padding-bottom: 20px;
    border-top: 1px dashed #a4a5a7;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .module:first-of-type {
    border-top: none;
}

.content .form-content .form-page .form-body .form .fields-row.radioboxes .input-wrap {

}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .radio-row {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .radio-row input {
    display: inline-block;
    vertical-align: middle;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .radio-row label {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

.content .form-content .form-page .form-body .form .fields-row.checkboxes .input-wrap {

}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .checkbox-row {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .checkbox-row input {
    display: inline-block;
    vertical-align: middle;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .checkbox-row label {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .table {
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .table td {
    padding: 10px 5px;
    border: none;
    position: relative;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .table td.dragHandle {
    cursor: move;
    position: relative;
}

.content .form-content .form-page .form-body .form .fields-row .input-wrap .table td.dragHandle::after {
    content: '';
    background: url(../img/small-icons/sort-arrows.png) no-repeat center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 16px;
    height: 19px;
}

.content .form-page #image-upload {
    width: 100%;
    border: 2px dashed #112d00;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    position: relative;
}

.content .form-page #image-upload:hover {
    box-shadow: 0px 0px 20px 4px rgba(53, 63, 77, 0.6);
}

.content .form-page #image-upload .dz-message span {
    background: url(../img/small-icons/uploading-files.png) no-repeat center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 64px;
    height: 64px;
}

.content .form-page #image-upload:hover .dz-message span {
    background: url(../img/small-icons/uploading-files-hover.png) no-repeat center;
}

.content .form-page .list-table {
    padding: 0;
    background-color: transparent;
}

.content .form-content .form-page .file-div {
    background-color: #f1f1f1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0;
}

.content .form-content .form-page .file-div .upload-img {
    position: relative;
    margin: 0;
    font-size: 16px;
}

.content .form-content .form-page .file-div .img-block {
    position: relative;
    display: inline-block;
    padding: 10px 0;
    width: 24%;
    height: 130px;
    margin: 10px 1.3% 10px 0;
    overflow: hidden;
    cursor: move;
    font-size: 15px;
}

.content .form-content .form-page .file-div .img-block:nth-of-type(4n+4) {
    margin-right: 0;
}

.content .form-content .form-page .file-div .img-block .hidden-text {
    font-size: 0;
    color: transparent;
    position: absolute;
    left: -10000px;
}

.content .form-content .form-page .file-div .img-block .remove-upload-img {
    position: absolute;
    right: 2px;
    top: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    background-color: #112d00;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #c7c4c4;
    -webkit-box-shadow: 0px 0px 37px 4px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 37px 4px rgba(255,255,255,1);
    box-shadow: 0px 0px 37px 4px rgba(255,255,255,1);
}

.content .form-content .form-page .file-div .img-block .remove-upload-img:hover {
    background-color: #ff0000;
}

.content .form-content .form-page .file-div .img-block .active-upload-img {
    position: absolute;
    right: 2px;
    top: 31px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    background-color: #112d00;
    color: #ff0000;
    border-radius: 2px;
    border: 1px solid #c7c4c4;
    -webkit-box-shadow: 0px 0px 37px 4px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 37px 4px rgba(255,255,255,1);
    box-shadow: 0px 0px 37px 4px rgba(255,255,255,1);
}

.content .form-content .form-page .file-div .img-block .active-upload-img:hover {
    background-color: #6e6e6e;
}

.content .form-content .form-page .file-div .img-block .active-upload-img.active {
    color: #73c940;
}

/*--------------------END form-content --------------------*/


/*--------------------END form-content-users-rights --------------------*/

.content .form-content .form-page .form-body.users-rights .form .checkboxes-list {
    background-color: #fff;
    margin: 10px 0 5px;
    padding: 0 5px;
}

.content .form-content .form-page .form-body.users-rights .form .checkboxes-list .fields-row .label-wrap {
    display: inline-block;
    min-width: 20%;
}

.content .form-content .form-page .form-body.users-rights .form .checkboxes-list .fields-row .input-wrap {
    display: inline-block;
}

.content .form-content .form-page .form-body.users-rights .form .checkboxes-list .children-rights {
    margin-left: 10px;
    padding: 0 10px 10px 0;
}

.content .form-content .form-page .form-body.users-rights .form .checkboxes-list .children-rights .fields-row {
    margin: 10px 0 5px;
    padding: 0 5px;
    background-color: #f0f0f0;
}

.content .form-content .form-page .form-body.users-rights .form .checkboxes-list .children-rights .fields-row .input-wrap {
    margin-left: -10px;
}

/*--------------------END form-content-users-rights --------------------*/

/**************************************
***************END Content******************
**************************************/

/**************************************
***************START Footer******************
**************************************/

.footer {
    display: none;
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #2F2F2F;
}

.footer .wrap {
    height: 60px;
    padding: 5px 10px;
}

.footer .wrap .footer-universal-block {
    position: relative;
}

.footer .wrap .footer-universal-block:not(:last-of-type)::after {
    content: '';
    background-color: #cfd1cf;
    position: absolute;
    width: 1px;
    height: 24px;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
}

.footer .wrap .footer-left {
    display: inline-block;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    transition: padding .3s;
}

.footer.with-sidebar .wrap .footer-left {
    display: inline-block;
    float: left;
    padding-left: 270px;
    transition: padding .3s;
}

.footer .wrap .footer-left .footer-info {
    display: inline-block;
    padding: 0 20px;
}

.footer .wrap .footer-left .footer-info {
    font-size: 14px;
}

.footer .wrap .footer-left .footer-info .footer-start-txt {
    color: #a4a5a7;
}

.footer .wrap .footer-left .footer-info .footer-txt {
    color: #fff;
}

.footer .wrap .footer-left .footer-info:first-of-type {
    padding-left: 0;
}

.footer .wrap .footer-left .footer-info:last-of-type {
    border-right: 0;
}

.footer .wrap .footer-right {
    display: inline-block;
    float: right;
    padding-top: 20px;
}

.footer .wrap .footer-right .footer-copyright {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #a4a5a7;
}

.footer .wrap .footer-right .footer-logo {
    display: inline-block;
    width: 80px;
    height: 50px;
    padding-left: 20px;
}

.footer-space {
    height: 60px;
    display: none;
}

/**************************************
***************END Footer******************
**************************************/

#image_upload{
    display: none;
}
.upload_photos .upload_file_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload_photos .one_photo{
    display: inline-block;
    width: 150px;
    height: 150px;
    position: relative;
    border: 1px solid #909090;
}
.upload_photos .ann_photo_bg{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.upload_photos .ann_controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.upload_photos .delete_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    color: #ff2525;
    background: #ccc7c7;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    cursor: pointer;
}